@page "/"

<PageTitle>Index</PageTitle>

<div style="width:160px">
    <DestallMaterials.Blazor.Components.Universal.Inputs.DateTimeInput OnValueSet="v => Date = v" Value="Date" PickTime=false />
</div>

@code {
    DateTime? Date { get; set; } = DateTime.Now;
}