@using DestallMaterials.Blazor.Services
@using DestallMaterials.WheelProtection.Extensions.String

@inherits BaseInput<string>
@inject IGlobalClickCatcher globalClickCatcher;

<div class="edit-field" @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" @onfocus=OnFocus>
    <input @bind="Value" class="@(InputClass())" @oninput="async s => await OnInput(s.Value.ToString())" />
    @if (InputLabel.HasContent())
    {
        <span>@InputLabel</span>
    }
    @if (HasError)
    {
        <span class="errored">@ErrorMessage</span>
    }
    @if (ChildContent != null)
    {
        @ChildContent
    }
</div>

@code{

    [Parameter]
    public Func<string, string> InvalidityCondition { get; set; } = s => "";

    [Parameter]
    public EventCallback OnMouseOver { get; set; }

    [Parameter]
    public EventCallback OnMouseOut { get; set; }

    [Parameter]
    public Action OnFocus { get; set; } = () => { };

    public bool HasError => ErrorMessage.HasContent();

    public string ErrorMessage => InvalidityCondition(Value);

    private string InputClass() => HasError ? "errored" : "";
    
}