@page "/"
@using DestallMaterials.Blazor.Components.Universal.Inputs



<DestallMaterials.Blazor.Components.Universal.LoadedTable PortionSize="@_portionSize"
                                                          Source="async portion => Enumerable.Range(0, 1000).Skip((portion - 1) * _portionSize).Take(_portionSize).ToArray()"
                                                          TLineModel="int"
                                                          TableClass="table"
                                                          Context="line"
                                                          >
    <Head>
        <td>Number</td>
        <td>Remainder 2</td>
        <td>Remainder 3</td>
        <td>Remainder 4</td>
    </Head>
    <Line>
        <td>Number</td>
        <td>@(line % 2)</td>
        <td>@(line % 3)</td>
        <td>@(line % 4)</td>
    </Line>
</DestallMaterials.Blazor.Components.Universal.LoadedTable>


@code {
    const int _portionSize = 50;

}