@inherits Button

<button @onclick="OnClickAsync" style="@style" disabled="@(Disabled)">
    <i class="material-icons" style="color:grey; font-size:40px">@MaterialIconName</i>
</button>


@code {
    [Parameter]
    public string MaterialIconName { get; set; }

    [Parameter]
    public Func<Task> OnClickAsync { get; set; }
    
    protected virtual string style => "padding: 3px";

}
