@using DestallMaterials.Blazor.Services
@inherits LayoutComponentBase

@inject IGlobalClickInvoker clickInvoker

<div class="page uu" @onkeydown="e => OnKeyDown(e)" @onclick="e => clickInvoker.FireGlobalMouseClickEvent(e)">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    void OnKeyDown(KeyboardEventArgs args)
    {
        Console.WriteLine("Click");
        clickInvoker.FireKeyClickEvent(args);
    }
}
