@using DestallMaterials.Blazor.Services
@inherits LayoutComponentBase

@inject IGlobalClickInvoker clickInvoker

<div class="page" 
    @onkeydown="async e => await clickInvoker.FireKeyClickEvent(e)" 
    @onclick="async e => await clickInvoker.FireGlobalMouseClickEvent(e)">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>